.admin-form
  width: 80%;
  label,button
    margin-top: 15px
  form
    display: flex
    +flex-direction(column)

.error
  border: 1px solid red

.error-message
  color: red

#myimage
  width: 150px

