.create-post
  font-size: 50px

.posts
  max-width: 1550px
  min-width: 200px
  +flexbox()
  +justify-content(center)
  +flex-wrap(wrap)
  @media (max-width: 767px)
    +flex-direction(column)

.posts>div
  margin: 9px
  padding: 20px 15px
  word-wrap: break-word
  text-overflow: ellipsis
  img
    height: 300px
    width: 450px
  h2
    font-size: 25px
    margin-top: 25px
    margin-bottom: 10px
  @media (max-width: 767px)
    padding: 15px 0
    margin: 1px
    img
      width: 100%
      // max-height: 75%
      height: 100%

.posts-bottom-panel
  +flexbox()
  +align-items(center)
  +justify-content(space-between)
  p
    color: $color5
    font-size: 14px


.posts-preview
  margin-bottom: 20px
  font-size: 18px

.admin-post-panel
  +flexbox()
  +flex-direction(row)
  +justify-content(flex-end)
  a
    margin: 0px 5px
    cursor: pointer
  img
    width: 25px
    height: 25px

