@import reset
@import mixins
@import palette

nav
  background-color: $color1
  height: 100px
  padding: 50px 0 0 50px
  p
    color: $color2
    font-size: 60px
    font-weight: bold

.admin-form
  width: 30%;
  margin: 30px 30%
  form
    display: flex
    flex-direction: column
#myimage
  width: 150px

.posts
  display: flex
  flex-direction: column
  margin: 30px 25%
  .post
    margin: 5px
    padding: 20px 25px
    border: 1px solid black
    max-height: 1000px
    overflow: hidden
  img
    max-width: 100%
    max-height: 700px
    overflow: hidden
  h2
    font-size: 60px
  p
    font-size: 20px
  .admin-post-panel
    display: flex
    flex-direction: row
    justify-content: flex-end
    a
      margin: 0px 5px
