// red
$color1: rgba(230, 57, 70, 1);
// white
$color2: rgba(241, 250, 238, 1);
// white-blue
$color3: rgba(168, 218, 220, 1);
// blue
$color4: rgba(69, 123, 157, 1);
// dark-blue
$color5: rgba(29, 53, 87, 1);
