.menu
  +flexbox()
  padding-left: 39px
  padding-top: 35px
  @media (max-width: 767px)
    padding-left: 5%
  p
    cursor: pointer
    padding-right: 24px
    padding-top: 4px
    color: white
    font-size: 21px
    font-weight: bold


nav
  +flexbox()
  background-color: $color5
  height: 120px
  padding: 20px 0 0 5%
  a
    color: $color2
    font-size: 55px
    font-weight: bold

.categories-menu
  &:after
    content: ''
    margin-left: 6px
    margin-bottom: 2px
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  &:hover
    .categories-drop-menu
      position: absolute
      top: 120px
      +flexbox()
      +flex-direction(column)
      width: 135px
      height: auto
      a
        opacity: 0;
        transform-origin: top center;
        @for $i from 1 through 4
          &:nth-child(#{$i})
            animation-name: topToBottom;
            animation-duration: 400ms;
            animation-delay: (150ms * $i) - 300;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        padding-bottom: 5px
        padding-left: 8px
        font-size: 18px
        font-weight: 600
        background-color: $color4
        color: $color2
        &:first-child
          padding-top: 15px
        &:last-child
          padding-bottom: 25px

@keyframes topToBottom
  0%
    opacity: 0
    transform: rotateX(-90deg)
  100%
    opacity: 1
    transform: rotateX(0deg)

.categories-drop-menu
  display: none
