.post-comments-wrapper
  background-color: white
  padding-top: 25px

.post-comments-form
  background-color: white
  +flexbox()
  +flex-direction(column)
  +justify-content(space-between)
  border-bottom: 1px solid black
  margin-top: 50px

.post-comments-markdown
  .blog-submit
    width: 200px

.post-comment
  +flexbox()
  p
    font-size: 22px
    font-weight: 600
  button
    margin-left: 15px
